<!DOCTYPE html>

<html>
  <head>      
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="CLIENT_ID.apps.googleusercontent.com">
    <!-- To integrate Google Sign-in -->
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    <div id="signInButton" class="g-signin2" data-onsuccess="onSignIn"></div>
    <div id="result"></div>
    <script>
      function onSignIn(googleUser) {
        id_token = googleUser.getAuthResponse().id_token;
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() { // listen for state changes
          if (xhr.readyState == 4 && xhr.status == 200) { // when completed we can move away
            window.location.href = "/restaurant";
          }
        }
        xhr.open('POST', '/gconnect?state={{STATE}}');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
          console.log('Signed in as: ' + xhr.responseText);
        };
        xhr.send('idtoken=' + id_token);
      };
    </script>
  </body>
</html>
